/* HTML: <div class="loader"></div> */
body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    position: relative;
    background-image: url(bg.png);
    background-size:
    
}
.loader {
    width: 100px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    margin-top: 10%;
    /* border-radius: 50%; */
    /* border:1px solid rgb(235, 180, 113) */

  }
  .loader::before {
    content: "";
    position: absolute;
    margin-left:50%;
    margin-top: 30%;
    inset: -48px;
    --c:conic-gradient(from 180deg at 50% calc(100% - 2px),rgb(235, 180, 113) 90deg, rgba(132, 181, 46, 0) 0);
    background: var(--c),var(--c);
    background-position: 0 0,8px 0;
    background-size: 20px 9.6px;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    50%  {background-position: 0 -9.6px ,8px 9.6px; transform:rotate(90deg)}
    100% {background-position: 0 -19.2px,8px 19.2px;transform:rotate(180deg)}
  }